
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
    margin: 40px;
    font-size: 38px;
}
.plp-page{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.card-wrapper{
    width: 25%;
    background-color: white;
    border-radius: 20px;
    padding:20px;
    margin: 20px;
    
    .img-wrapper{
        width: 100%;
        img{
            width: 100%;
            object-fit: contain;
            border-radius: 20px;
        }
    }

    .title{
        font-size: 20px;
    }
    .rating-wrapper{
        .rating{
            background-color: green;
            color: white;
            font-size: 14px;
            padding: 2px 30px 2px 20px;
            width: fit-content;
            border-radius: 10px;
            position: relative;
            margin: 20px 0;
            &::after{
                content: '*';
                display: inline-block;
                width: 20px;
                height: 20px;
                font-size: 30px;
                position: absolute;
                top: -2px;
                right: 5px;
            }
        }

    }
    .price-wrapper{
        .bold{
            margin: 0 10px;
            color: red;
            font-size: 24px;
        }
        strike{
            font-weight: 40px;
            margin: 0 10px;

        }
        .off{
            color: green;
        }
    }

}
